#joinPageHead {
    background-color: #f2e6c2;
    background-image: url("../content/img/BackgroundJoin.png");
    background-repeat: no-repeat;
    background-size: contain;
}

#joinPageHead .carouselText {
    background-color: white;
    border: 2px solid grey;
}

#joinImg {
    width: 100%;
    height: auto;
    max-width: 640px;
}