/*

*/

/* FONTS */
@font-face {
    font-family: "OpenSans";
    src: url("../content/fonts/OpenSans/OpenSans-Regular.eot");
    src: url("../content/fonts/OpenSans/OpenSans-Regular.eot") format("embedded-opentype"),
         url("../content/fonts/OpenSans/OpenSans-Regular.woff2") format("woff2"),
         url("../content/fonts/OpenSans/OpenSans-Regular.woff") format("woff"),
         url("../content/fonts/OpenSans/OpenSans-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "OpenSans";
    src: url("../content/fonts/OpenSans/OpenSans-SemiBold.woff2") format("woff2"),
         url("../content/fonts/OpenSans/OpenSans-SemiBold.woff") format("woff"),
         url("../content/fonts/OpenSans/OpenSans-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "OpenSans";
    src: url("../content/fonts/OpenSans/OpenSans-Bold.woff2") format("woff2"),
         url("../content/fonts/OpenSans/OpenSans-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "OpenSans";
    src: url("../content/fonts/OpenSans/OpenSans-ExtraBold.woff2") format("woff2"),
         url("../content/fonts/OpenSans/OpenSans-ExtraBold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "LazyDog";
    src: url("../content/fonts/lazy_dog.woff2") format("woff2"),
         url("../content/fonts/lazy_dog.ttf") format("truetype");
}

/* ***Basic Page Stying*** */
body {
    font-family: OpenSans, Helvetica, sans-serif;
    margin: 0;
    font-size: 18px; /* 16px is the typicall default */
}

.center { /* For any text we need centered */
    text-align: center;
}

.topPageElm {
    margin-top: 64px;
}

h1.bigHead {
    font-weight: 800;
    font-size: 48px;
    color: #8D0324;
}

h2.bigHead {
    font-size: 36px;
    font-weight: 800;
    color: #8D0324;
}

.lazyHead { /* Use Lazy Dog font in these spots */
    font-family: LazyDog, Arial, Helvetica, sans-serif;
    font-size: 42px;
}

.textOutline1 { /* for any text you want to apply an outline to */
    text-shadow: -3px -3px 0 #f4f4f4, 3px -3px 0 #f4f4f4, -3px 3px 0 #f4f4f4, 3px 3px 0 #f4f4f4;
}

/* ***NAVIGATION*** */
/* AAA-level navigation */
.aaaNavWrap {
    min-height: 56px;
    background-color: #f4f4f4;
    /*
    border-bottom: 2px solid grey;
    */
    box-shadow: 0px 1px 5px 5px rgba(100, 100, 100, 0.2);

    /* fix at top of page */
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.aaaNav {
    margin-left: 36px;
    margin-right: 36px;

    display: flex;
    justify-content: space-between;
}

.aaaNav a {
    text-decoration: none;
}

.aaaNavLeft, .aaaNavRight {
    display: flex;
}

.aaaNavLink {
    padding: 8px;
    color: black;
}
.aaaNavLink:hover {
    color: #8D0324;
}

@media (max-width: 640px) {
    .aaaNav {
        margin-left: 18px;
        margin-right: 18px;
    }
}


/* Quick Liks Menu */
.toggleMenuContainer {
    cursor: pointer;
    padding: 4px;
}
  
.bar1, .bar2, .bar3 {
width: 35px;
height: 5px;
background-color: #333;
margin: 6px 0;
transition: 0.4s;
}

.change .bar1 {
transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
transform: translate(0, -11px) rotate(45deg);
}
/* Menu link */
.mobile-container {
    max-width: 480px;
    margin: auto;
    background-color: #555;
    height: 500px;
    color: white;
    border-radius: 10px;
}
.topnav {
overflow: hidden;
background-color: #f4f4f4;
/*position: relative;*/

/*fix at top of page*/
position: fixed;
top: 68px;
width: 100%;
z-index: 990;
}

.topnav a {
color: rgb(5, 5, 5);
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
display: block;
}
.topnav a:hover {
background-color: #ddd;
color: black;
}

/* Cart Tab */
.cartTab {
    width: 400px;
    background-color: #91bdd9;
    color: black;
    position: fixed;
    /*
    inset: 64px -400px 0 auto;
    */
    top: 64px;
    right: -400px;
    bottom: 0;
    display: grid;
    grid-template-rows: 70px 1fr 70px;
    transition: 0.5s;
}
/*
body.showCart .container{
    transform: translateX(-250px);

}*/

.pageCartAnimate { /* Cart animation, strategy borrowed from hamburger animation */
    transform: translateX(-400px);
}

@media (max-width: 400px) { /* on mobile, take up 100% screen width, rather than a fixed pixel amount */
    .cartTab {
        width: 100%;
        /*
        inset: 64px -100% 0 auto;
        */
        top: 64px;
        right: -100%;
        bottom: 0;
    }

    .pageCartAnimate {
        transform: translateX(-100%);
    }
}

.cartTab h1{
    padding: 20px;
    margin: 0 auto;
    font-size: 28px;
    font-weight: 800;
    color: #8D0324;
}
.cartTab .cartBtn{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.cartTab .cartBtn button {
    border: none;
    font-weight: 600;
    cursor: pointer; 
}

.cartTab .cartBtn #cartCheckOut{
    background-color: #05c208;
    
}
.cartTab .cartBtn #cartClose{
    background-color: white;
}
.cartTab .cartItem .cartItemImage img {
    width: 100%;
}

.listCart {
    padding: 4px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    overflow: auto;
}

.cartItem {
    background-color: #f4f4f4;
    padding: 6px;
    border-style: solid;
    border-width: 2px;
    border-color: grey;
    border-radius: 12px;
}

.cartItemName h2 {
    font-size: 18px;
}

/*
.cartTab .listCart .cartItem{
    display: grid;
    grid-template-columns: 70px 150px 50px 1fr;
    gap: 10px;
    text-align: center;
    align-items: center;
}

.listCart .quantity span{
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: white;
    color: grey;
    border-radius: 50%;
    cursor: pointer;
}
.listCart .quantity span:nth-child(2){
    background-color: transparent;
    color: #eee;
}
.listCart .item:nth-child(even){
    background-color: #eee1;
}
*/

/*
.listCart:: -webkit-scrollbar{
    width: 0;
}*/

/* Carousel style */
.pageCarousel {
    padding: 24px;
    min-height: 160px;
}

.carouselContent {
    margin-left: 36px;
    margin-right: 36px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
}

.carouselText {
    width: 40%;
    min-width: 320px;
    padding: 4px;
}

/* split-screen info styling */
.splitInfoWrap {
    padding: 8px;
    min-height: 384px;
}

.splitInfo {
    margin-left: 48px;
    margin-right: 48px;

    display: flex;
    justify-content: center;
    gap: 16px;
    flex-wrap: wrap;
}

.infoCard {
    padding: 24px;
    flex-basis: 45%;
    min-width: 320px;
}

/* Footer Text */
.pageFooter {
    background-color: #f4f4f4;
}

.footerContents {
    margin-left: 24px;
    margin-right: 24px;
    padding: 16px;
}

#footerTitle1 {
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 3px;
}

#footerTitle2 {
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 2px;
    color: rgb(60, 60, 60);
}
