/* Mission header text */
#missionHeader p {
    font-size: 20px;
    font-weight: bold;
}


/* Goals section */
#goalsSection {
    background-color: #f2e6c2;
    background-image: url("../content/img/WavyLineRedTopRight.png");
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: top;
}

#goalsSection .carouselText {
    background-color: white;
    padding: 18px;
    border: 2px solid grey;
    width: 65%;
}

#goalsSection p {
    font-size: 20px;
}
